<div>
        <h1><center>Menu Upload</center></h1><br>
    
        <div id="root">
            <form method="POST" action="uploadxcelMenu" enctype="multipart/form-data">  
                <div id="section">
                    <label for="">Select the Excel Menu File:</label>
                    <input type="file" name='menu' class="btn btn-dark mr-2" multiple>
                    <button  class="btn btn-success mr-2">Upload your files</button> 


                    <a href="#"> Download Excel<img width="35px" src="https://www.computerhope.com/issues/pictures/excel-logo.jpg"></a>   
                </div>
            </form>

            <form method="POST" action="uploadxcelProduct" enctype="multipart/form-data">  
                <div id="section1">
                    <label for="">Select the Excel Products File:</label>
                    <input type="file" name='product' class="btn btn-dark mr-2" multiple>
                    <button  class="btn btn-success mr-2">Upload your files</button> 
                </div>
            </form>    
        </div>
    </div>
    
    <style>
        .tablebtn{
            position: absolute;
            top: 49%;
            right: 7%;  
                }

        .fieldone{
            margin-right: 31%;
        }
        .field{
            margin-right: 18%;
        }
        #title {
            text-align: center;
            margin-bottom: 1%;}
       #section {
           text-align: center;
           margin-right: 6%;
           margin-bottom: 2%;
           }  

           #section1 {
           text-align: center;
           margin-right: 21%;
           margin-bottom: 2%;
           }  

       #section2 {
           text-align: center;
           margin-bottom: 2%;
           margin-right: 16%;
           } 
       #section3 {text-align: center;}  
       #root {
           border: 1px solid black;
           /* margin: 0% 20%; */
           padding: 10px 0px;
       }
    </style>
   